/* styles.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(87, 13, 13, 0.1);
  margin-top: 50px;
  border-radius: 25px;

  .search-form {
    width: 100%;
    margin: 0.75rem 0;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: 25px;

    .input-group {
      min-width: 220px;
      width: calc(100% - 160px);

      input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-top: 0.5rem;
        display: block;
        border-radius: 25px;
      }
    }

    button {
      padding: 12px 20px;
      margin: 0 auto;
      cursor: pointer;
      background: #007bff;
      color: white;
      border: none;
      display: inline-block;
      border-radius: 25px;
    }
  }

  button:hover {
    background: #0056b3;
  }

  #firmDetails {
    margin-top: 20px;
    padding: 10px;
    background: #e9ecef;
    border-radius: 5px;
    display: none;
    border-radius: 25px;
  }
}

.firm-details {
  background-color: rgb(209, 208, 228);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 25px;
  color: rgb(58, 64, 87);
  text-shadow: #0056b3;

  input[type="text"] {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 25px;
  }

  button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
  }

  hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin-top: 20px;
  }
}

#errorMessage {
  color: rgb(229, 9, 108);
}